html {
  font-family: var(--font-primary);
  margin: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.header {
  z-index: 300;
}

.panel-menu {
  z-index: 200;
}

.breadcrumb {
  z-index: 100;
}
