:root {
    --font-primary: "RM Neue", sans-serif;
    --color-primary: #fdc760;
    --color-yellow: #fdc760;
    --color-black: #000000;
    --color-white: #fff;

    --unit-header-height: 130px;
    --unit-100vh: 100vh;
}
